# Токен от @BotFather
BOT_TOKEN=8765116027:AAF2iYuHl9U2GPfB32kB7tKglRJllRqYH6g

# Твой числовой Telegram ID (узнать: @userinfobot)
ADMIN_IDS=203506721

# Railway подставляет это автоматически — вручную не нужно трогать
DATABASE_URL=postgresql://user:pass@host:5432/dbname
